daily-news-quote-telegram.json
{
  "name": "Daily News & Quote Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 8 * * *"
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/news?apikey=YOUR_API_KEY&country=in&language=en",
        "method": "GET",
        "responseFormat": "json"
      },
      "id": "2",
      "name": "Get News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/today",
        "method": "GET",
        "responseFormat": "json"
      },
      "id": "3",
      "name": "Get Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn [{\n  json: {\n    message: `\ud83d\udcf0 *Top News:* ${items[0].json.results[0].title}\\n\\n\ud83d\udca1 *Quote:* ${items[1].json[0].q} \u2013 ${items[1].json[0].a}`\n  }\n}];\n"
      },
      "id": "4",
      "name": "Merge Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "={{$json[\"message\"]}}",
        "additionalFields": {}
      },
      "id": "5",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Account"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News": {
      "main": [
        [
          {
            "node": "Merge Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote": {
      "main": [
        [
          {
            "node": "Merge Message",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Message": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}